.body{
    background-color: rgb(120, 145, 230);
    color: rgb(255, 255, 255);

}
span{
    color: rgb(117, 132, 199);
}
.contagem{
    color: black;
    background-color:red
    padding: 20px 0;
    text-align: center;

}
p{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(218, 195, 240);
}
a{
    font-family: Arial, Helvetica, sans-serif;

}
.Objetivo{
    background-color: aquamarine;
    color: rgb(89, 105, 83);
    text-align: center;
    font-size: large;
    cursor: pointer;
}
footer{
    text-align: center;
}
.ativo{
    background-color: rgb(9, 33, 112);
    color: white;
    border-bottom: 3px solid rgb(255, 0, 0);
}

.aba-conteudo {
    display: none;
    color: rgb(252, 0, 197);
}
.ativa{
    display: block;
}
